/* ======
    Styles
====== */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* ======
    CSS Variables
====== */

/* Aquí podemos declarar variables que se pueden usar más adelante, esta es una PSEUDO-CLASE :root, sirve para aplicarlas globalmente al documento HTML */
:root{
    /* Para declarar las variables se usa un nombre que comience con dos guíones y un valor valido de css, ejemplo:
        :root{
            --nombre-de-la-variable: valor
        }

        nota: Son case sensitives --nombre-de-la-variable no es igual a --Nombre-de-la-variable
    */

    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorMain: #f36;
    --colorBlackLight: #2e2e2e;
}

html{
    font-size: 10px;
}

body{
    /* Para usar una variable se usa el nombre de la propiedad en este caso background y para darle un valor a la propiedad usamos la palabra reservada var abrimos parentesis y escribimos --nombre-de-la-variable, así */
    /*background: var(--blueColor) ;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* Start nav */
nav#nav{
    width: 100%;
    height: 8rem;
    line-height: 8rem;
    background: var(--colorWhite);
    display: flex;
    box-shadow: 0 0 5rem .5rem rgba(0, 0, 0, .05);
}
/* Resposive */
@media(max-width: 768px){
    nav#nav{
        flex-direction: column;
        height: auto;
    }
}

.left-ul li{
    list-style: none;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.right-ul{
    display: flex;
}

.right-ul li{
    list-style: none;
}

.right-ul li a{
    text-decoration: none;
    margin-right: 2rem;
}

.empty{
    margin: 0 auto;
}

/* btns */
.btn{
    display: inline-block;
    color: var(--colorWhite);
    cursor: pointer;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 0;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3rem;
    outline: none;
    padding: 2rem 3.2rem;
    letter-spacing: 1px;
}

.btn-sweet{
    background: var(--colorMain);
}

.btn-outline{
    border-color: var(--colorMain);
    color: var(--colorMain);
}
/* End nav */

/* Start Form Sign Up */

#form{
    margin: 7rem 5rem;
    display: flex;
    justify-content: flex-end;
}

.form-section{
    width: 50rem;
}

@media(max-width:768px){
    .form-section{
        width: 100%;
    }
}

.form--header{
    margin-bottom: 4rem;
}

.form--header h2{
    font-size: 3.5rem;
}

.form--header p{
    font-size: 1.4rem;
    margin-top: 1rem;
}

/* Responsive */
@media(max-width:768px){
    .form--header h2{
        font-size: 2.5rem;
    }
}
.group{
    margin-bottom: 1.5rem;
}

.form--label {
    display: block;
    font-weight: 700;
    font-size: 1.1rem;
    color: #434C5E;
    margin-bottom: .8rem;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
}
/* Begin :: Login form */
.forgotPassword{
    position: absolute;
    /* top: 0; 
    en este caso como el elemento dentro de la clase tiene la posición absoluta (position: absolute;), el valor de top determina la distancia entre el borde superior del elemento y el borde superior del bloque que lo contiene
    */
    top: 0;
    right: 0;
}

.forgotPassword a{
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #434c5e;
}

/* End :: Login form */

.control{
    width: 100%;
    display: block;
    padding: 1.5rem;
    border-radius: 3px;
    border: 1px solid #D4D9E2;
    font-size: 1.4rem;
    color: #596377;
    outline: none;
}

/* End Form Sign Up */

/* Begin :: Dashboard */

/* Begin :: Profile */
.container{
    margin: 0 4rem;
}

.dashboard{
    margin: 7rem 0;
    display: flex;
    width: 100%;
}

.card{
    width: 22%;
    background: var(--colorWhite);
    box-shadow: 0 1rem 4rem .5rem rgba(0, 0, 0, .05);
    padding: 4rem;
    text-align: center;
    border-radius: .4rem;
}

.card--image{
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}

.card--image img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border-top: 4px solid var(--colorMain);
    border-right: 4px solid var(--colorMain);
    border-bottom: 4px solid var(--colorMain);
    border-left: 4px solid silver;
    padding: .4rem;
}

.card--name{
    margin: 2rem 0;
    font-size: 1.6rem;
    color: var(--colorBlackLight);
    font-weight: 400;
    letter-spacing: 1px;
}

.card--job{
    color: #777;
    font-size: 1.4rem;
}

.card--skills{
    margin: 1rem 0;
}

.skill{
    display: inline-block;
    padding: 1rem;
    border: 1px solid silver;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: .6rem;
    margin-top: .8rem;
}

/* La pseudo-clase :first-child de CSS representa el primer elemento entre un grupo de elementos hermanos. */
.skill:first-child {
    background: var(--colorBlack);
    border: none;
    color: var(--colorWhite);
    box-shadow: rgba(0, 0, 0, .05);
}

/* La pseudo-clase :last-child de CSS representa el último elemento entre un grupo de elementos hermanos. */
.skill:last-child{
    background: var(--colorMain);
    border: none;
    color: var(--colorWhite);
    box-shadow: 0 1rem 4rem .5rem rgba(0, 0, 0, .05);
}

.card--intro{
    font-size: 1.3rem;
    color: silver;
    margin: 1.5rem 0 1.5rem 0;
}
/* End :: Profile */

/* Begin :: content */
.content {
    width: 78%;
}

.content-section{
    background-color: var(--colorWhite);
    margin-left: 3rem;
    padding: 3rem 5rem 3rem 3rem;
    border-radius: .4rem;
    box-shadow: 0 1rem 4rem .5rem rgba(0, 0, 0, .05);
    font-size: 1.3rem;
}

.dashboard-heading{
    font-size: 1.8rem;
    display: inline-block;
    margin-bottom: 2rem;
    border-bottom: .1rem solid var(--colorMain);
    padding-bottom: 1rem;
}

.btn-white{
    display: inline-block;
    padding: 1rem 1.3rem;
    background-color: var(--colorWhite);
    border-radius: 0;
    color: var(--colorBlackLight);
    text-decoration: none;
    box-shadow: 0 1rem 4rem .5rem rgba(0, 0, 0, .05);
}

.btn-white.icon{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    background: var(--colorMain);
    border-radius: 50%;
    text-align: center;
    color: var(--colorWhite);
    margin-left: .5rem;    
}

.btn-card{
    display: inline-block;
    padding: 1rem 1.3rem;
    background-color: var(--colorMain);
    border-radius: .5rem;
    color: var(--colorWhite);
    text-decoration: none;
    box-shadow: 0 1rem 4rem .5rem rgba(0, 0, 0, .05);
}

.btn-card .icon{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    background: var(--colorWhite);
    border-radius: 50%;
    text-align: center;
    color: var(--colorMain);
    margin-left: .5rem;    
}

.btn-section{
    margin-left: 1rem;
}

/* End :: content */

/* End :: Dashboard */



